html {
  box-sizing: border-box;
  background-color: rgb(255, 183, 251);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

img {
  max-inline-size: 100%;
  block-size: auto;
}

:root {
  --dark: #252525;
  --primary: #3f51b5;

  --yellow: rgb(255, 255, 76);
  --blue: rgb(113, 167, 176);

  --floor: rgb(68, 59, 54);
  --ceiling: rgb(97, 70, 23);
  --ceiling-btw: rgb(75, 53, 16);
  --ceiling-shadow: rgb(52, 40, 2);

  --white: rgba(239, 223, 211, 0.8);

  --fs-l: clamp(1rem, 1rem + 2cqw, 2.5rem);
}

.main {
  width: 100%;
  height: 100%;
  position: relative;
}

span {
  display: none;
}

main::after {
  content: "Oh no where am I? Seems like some kind of corridor... The door is locked and it has some kind of code on it. I need to find a way out of here!";
  font-size: clamp(0.7rem, 0.7rem + 1cqw, 1.25rem);
  position: absolute;
  display: block;
  background-color: var(--white);
  width: 80cqw;
  height: 10cqh;
  margin: 0 auto;
  bottom: 3%;
  left: 10%;
  z-index: 20;
  border: 0.2rem solid var(--ceiling);
  border-radius: 30px;
  padding: 0.5rem 1rem;
  overflow: scroll;
}

main:has(.wall--back:hover)::after {
  content: "I think I can see something behind the wall...";

}

/* THE CORRIDOR */

.corridor {
  background: var(--dark);
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "wall--top-left ceiling ceiling wall--top-right wall--top-right wall--top-right"
    "wall--left wall--back wall--back wall--right wall--right wall--right"
    "wall--left wall--back wall--back wall--right wall--right wall--right"
    "wall--bottom-left floor floor wall--bottom-right wall--bottom-right wall--bottom-right";
  grid-auto-flow: dense;
}

.wall--top-left {
  grid-area: wall--top-left;
  background: linear-gradient(to top right, var(--blue) 50%, var(--ceiling-shadow)50%, var(--ceiling-btw)60%, var(--ceiling)80%, var(--ceiling));
}

.ceiling {
  grid-area: ceiling;
  background: linear-gradient(to top, var(--ceiling-shadow), var(--ceiling-btw)20%, var(--ceiling)55%);
}

.wall--top-right {
  grid-area: wall--top-right;
  background: linear-gradient(to bottom right, var(--ceiling)20%, var(--ceiling-btw)40%, var(--ceiling-shadow)50%, var(--blue) 50%);

}

.wall--left {
  grid-area: wall--left;
  background: var(--blue);
}

.wall--back {
  grid-area: wall--back;
  z-index: 3;
  background: var(--dark);
  filter: blur(10px);
  box-shadow: -20px 0px 50px var(--dark), 20px 0px 50px var(--dark);
  position: relative;
}

.wall--right {
  grid-area: wall--right;
  background: var(--blue);
}

.wall--bottom-left {
  grid-area: wall--bottom-left;
  background: linear-gradient(to bottom right, var(--blue) 50%, var(--floor)50%);
}

.wall--bottom-right {
  grid-area: wall--bottom-right;
  background: linear-gradient(to top right, var(--floor) 50%, var(--blue) 50%);
}

.floor {
  grid-area: floor;
  background: var(--floor);
}

/*DETAILS*/

input {
  appearance: none;
}

.lamps-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.lamp-label {
  display: block;
  position: relative;
  width: 5cqw;
  height: 5cqw;
  background-color: rgb(9, 55, 63);
  border-radius: 10% 27% 25% / 10% 10% 60% 60%;
}

.lamp-label::before {
  content: '';
  display: block;
  position: absolute;
  width: 3cqw;
  height: 2cqw;
  border-left: 0.3rem solid var(--floor);
  border-bottom: 0.3rem solid var(--floor);
  mix-blend-mode: darken;
  border-radius: 10px;
  bottom: -15%;
  left: 50%;
}

.lamp-label:has(input:checked)::after {
  content: '';
  display: block;
  position: absolute;
  width: 10cqw;
  height: 10cqw;
  background-color: var(--yellow);
  filter: blur(10px);
  border-radius: 30% 50% 30% 10%;
  bottom: 50%;
  rotate: -40deg;
  left: -40%;
  mix-blend-mode: hard-light;
}

.video-wrapper {
  display: none;
  grid-row: 1;
  grid-column: 1;
}

video {
  display: none;
  height: 37cqh;
}

@media (prefers-color-scheme: dark) {
  :root {
    --dark: #d8d8d8;
    --blue: rgb(9, 55, 63);
    --floor: var(--yellow);
    --ceiling: rgb(205, 205, 205);
    --ceiling-btw: rgb(179, 174, 166);
    --ceiling-shadow: rgb(124, 123, 123);

  }

  .seven {
    position: absolute;
    display: block;
    right: 60%;
    bottom: 10%;
    z-index: 10;
    font-size: 3rem;
    color: var(--blue);
    opacity: 0;
    transition: opacity 10s ease-in;
  }
}

@media (prefers-contrast: more) and (prefers-color-scheme: dark) {
  .video-wrapper {
    position: relative;
    display: block;
    z-index: 5;
    display: block;
    grid-area: wall--back;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
    border-left: 6cqw solid var(--blue);
    border-right: 14cqw solid var(--blue);
    border-top: 8cqh solid rgb(124, 123, 123);
    border-bottom: 5cqh solid var(--yellow);
    background-color: var(--yellow);
  }

  .wall--back {
    filter: none;
    box-shadow: none;
  }
}

@media (prefers-contrast: more) and (prefers-color-scheme: dark) and (min-width: 800px) and (max-width: 950px) {
  video {
    display: block;
  }

  .seven {
    opacity: 1;
  }
}

/* 
.article>* {
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
} */


/* @container article (min-width: 30em) {}

@container article (min-width: 55em) {}

@media screen and (min-width: 40em) {}

@media screen and (min-width: 60em) {}
*/

@media screen and (max-width: 50em) {
  .corridor {
    grid-template-areas:
      "wall--top-left wall--top-left ceiling ceiling wall--top-right wall--top-right"
      "wall--left wall--left wall--back wall--back wall--right wall--right"
      "wall--left wall--left wall--back wall--back wall--right wall--right"
      "wall--bottom-left wall--bottom-left floor floor wall--bottom-right wall--bottom-right";
  }
}

@media screen and (max-width: 35em) {
  .corridor {
    grid-template-areas:
      "wall--top-left wall--top-left wall--top-left ceiling ceiling  wall--top-right"
      "wall--left wall--left wall--left wall--back wall--back wall--right"
      "wall--left wall--left wall--left wall--back wall--back wall--right"
      "wall--bottom-left wall--bottom-left wall--bottom-left floor floor wall--bottom-right";
  }
}